@font-face {
    font-family: 'Poppins';
    src: url(../fonts/Poppins-Regular.ttf);
}
@font-face {
    font-family: 'Poppins';
    src: url(../fonts/Poppins-Medium.ttf);
}
@font-face {
    font-family: 'Poppins';
    src: url(../fonts/Poppins-bold.ttf);
}
@font-face {
    font-family: 'Roboto';
    src: url(../fonts/Roboto-Regular.ttf);
}
/* common css */
body{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #000000;
}
/* common css */
/* header start */
header{
background-color: #F0FFF0;
 
}
.cnav{

}
.logo{
width: 200px ;
}
.navt:focus{
    box-shadow: none;
}
.menu{

}
.menu ul li a{
 color: #000000 !important;
 padding:0 25px !important;
}
.menu ul li a:hover{

}
.btn_c{
    font-family: 'Roboto' sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    color: #ffffff;
    background-color: #21B573;
    border-radius:32px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn_s{
    width: 105px;
    height: 45px;
    margin-left: 10px;7
}
.btn_c:hover {
    color: #ffffff;
 background-color: #FD511A;
}

/* header end */
/* banner start  */
.banner{
 padding: 40px 0 60px;
 background-color: #F0FFF0;
}
.b_text{}
.bp1{
    line-height: 24px;  
    color: #FD511A;
    
}
.b_text h1{
    margin: 10px 0 20px;
    padding:0 100px 0 0;
    font-size: 48px;
    font-weight: 700;
    line-height: 70px;
}
.b_text h1 span{
    color:#21B573;

}
.bp2{
 line-height: 36px;
}
.btn_g{
    margin-top: 15px;
    width: 155px;
    height: 44px;
}
.b_img{}
.b_img img{

}
/* banner end */
/* feature start */
.feature{
 padding: 45px 0 100px;
}
.f_item{
    background-color: #F0FFF0;
    border-radius: 10px;
    padding:60px 0 55px;
    transition: .33s ease;
}
.f_img{ 
    margin: 0 auto 40px;
    width: 85px;
    height: 85px;
}

.f_img img{
width: 100%;
}
.f_item h2{    
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
 }
.f_item p{
    line-height: 24px ;
}
.f_item:hover{
    background-color: #FFFFFF;
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.1);

}
/* feature end */